body {
  background-color: skyblue;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}
h1{
  color: #0d5050;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento',cursive;
  font-size:562.5%;
}
.bio{
  font-size: 2.5rem;
  color:#0d5050;
  font-weight: normal;
}
p{
  font-size: 1.5rem;
  color:#0d5050;
  font-weight: normal;
}
.bottom-cloud {
  position: absolute;
  left:150px;
  top: 250px;
}
.top-container {
  position: relative;
  padding-top: 100px;

}
.top-cloud {
  position: absolute;
  right:100px;
  top: 50px;
  
}
h2{
  font-family: 'Montserrat',sans-serif;
}
h3{
  font-family: 'Montserrat',sans-serif;;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.codeimg {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.music {
  width: 25%;
  
 
}